body {
	font-family: Arial, Helvetica, sans-serif;
	/*margin: 30px;*/
	/*padding: 10;*/
	background-color: #907AA9;
	color: white;
}

body h1 {
	color: white;
}

header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #907AA9;
	/*height: 150px;*/
	height: 200px;
	width: 80%;
	margin: auto;
	text-align: center;
	padding: 15px 0;
	padding-bottom: 30px;
	/* Adds spacing above and below the image */
}

header img {
	height: 110%;
	/* Adjust size as needed */
	width: auto;
}

header div {
	font-family: cursive;
	margin-top: 10px;
}

/*nav bar styling*/
.nav-container {
	display: flex;
	font-size: 18px;
	/*margin-left: 410px;*/
	/*margin-right: 500px;*/
	margin: auto;
	justify-content: center;
	align-items: center;
	/*width: 100%;*/
	/*width: 50%;*/
	height: 5%;
	width: auto;
	/*padding: 10px;*/
	padding: 0 20px;
}

/*nav button styling*/
.nav-container {
	display: flex;
	justify-content: center;
	/* Centers the entire nav */
	align-items: center;
	gap: 80px;
	/* Space between nav items */
}

.nav-link {
	display: flex;
	color: rgba(255, 255, 255, 0.7);
	align-items: center;
	gap: 10px;
	position: relative;
}

.nav-link:hover,
.nav-link:focus {
	color: #fff;
}

.nav-link li {
	list-style: none;
}

.nav-link a {
	text-decoration: none;
	color: inherit;
	font-size: 18px;
}

/*nav line animation*/
.nav-link::after {
	content: '';
	height: 2px;
	width: 100%;
	background-color: white;
	position: absolute;
	left: 0;
	bottom: -6px;
	opacity: 0;
	transition: all 0.2s;
	pointer-events: none;
}

.nav-link:hover::after,
.nav-link:focus::after {
	opacity: 1;
}

.nav-line {
	width: 50%;
	color: white;
}

.footer {
	display: flex;
	align-items: center;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: auto;
	width: auto;
	justify-content: center;
	text-align: center;
}
