body {
	font-family: Arial, Helvetica, sans-serif;
	/*margin: 30px;*/
	/*padding: 10;*/
	background-color: #907AA9;
	color: white;
}

body h1 {
	color: white;
}

header {
	/*image: url("") */
	font-family: cursive;
	font-size: 30px;
	margin-left: 400;
	margin-right: 400;
	background-color: #907AA9;
	height: 220px;
	/*width: 100%;*/
	width: auto;
	display: flex;
	align-items: center;
	color: white;
	text-align: center;
	justify-content: center;

}

.nav-container {
	display: flex;
	font-size: 18px;
	/*margin-left: 410px;*/
	/*margin-right: 500px;*/
	margin: auto;
	/*justify-content: space-between;*/
	justify-content: center;
	align-items: center;
	/*width: 100%;*/
	/*width: 50%;*/
	width: auto;
	/*padding: 10px;*/
	padding: 0 20px;
}

.home-item,
.about-item,
.shop-item,
.contact-item {
	display: flex;
	align-items: center;
	/* Aligns items vertically centered */
	margin-right: 80px;
	/* Adds space to the right of each item */
}

.contact-item {
	margin-right: 0;
	/* Removes margin from the last item */
}

/*Home Nav Styling*/
.home-item {
	display: flex;
	align-items: center;
	/*align-content: left;*/
}

.home-item svg {
	margin-right: 8px;
}

.home-item li {
	list-style: none;
	/*remove bullet points*/
}

.home-item a {
	color: white;
	text-decoration: none;
	/*removes underline*/
}

/*About Link Styling */
.about-item {
	display: flex;
	align-items: center;
	/*align-content: left;*/
}

.about-item svg {
	margin-right: 8px;
}

.about-item li {
	list-style: none;
	/*remove bullet points*/
}

.about-item a {
	color: white;
	text-decoration: none;
	/*removes underline*/
}

/*Shop Link Styling*/
.shop-item {
	display: flex;
	align-items: center;
	/*align-content: center;*/
}

.shop-item svg {
	margin-right: 8px;
}

.shop-item li {
	list-style: none;
}

.shop-item a {
	color: white;
	text-decoration: none;
}

/*Contact Link Stying */
.contact-item {
	display: flex;
	align-items: center;
	/* Aligns items vertically centered */
	/*align-content: right;*/
}

.contact-item svg {
	margin-right: 8px;
	/* Adds space between the icon and the text */
}

.contact-item li {
	list-style: none;
	/* Removes bullet points from the list */
}

.contact-item a {
	color: white;
	/* Sets the link color to white */
	text-decoration: none;
	/* Removes the underline from the link */
}

.footer {
	display: flex;
	align-items: center;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: auto;
	width: auto;
	justify-content: center;
	text-align: center;
}
