package components

templ Header() {
  <head>
    <link rel="stylesheet" href="/static/css/tailwind.css" />
  </head>
    <div class="header" >
      <img src="/static/assets/belle-logo.svg" />
    </div>
}
