package component

templ HeaderTemplate() {
	<style>
	body {
	background-color: black;
	}
	</style>
	<header>
		<img src="assets/belle-logo.svg"/>
		<h1>Belle's Crafts</h1>
		<h2>Handmade good</h2>
		<p1>Testing, testing, 1... 2... 5...</p1>
	</header>
}

